.module1

    &__banniere
        height: 25rem
        background-repeat: no-repeat
        background-size: cover

        &_overlay

            background-color: rgba(0,0 ,0 , 70%)
            height: 25rem

            h1
                color: $txt-blanc
                text-align: center
                font-family: 'Rosarivo italic'
                padding-top: 10rem

    &__presentation
        margin-top: 5rem
        margin-bottom: 5rem

        &_container
            width: 100%
            max-width: 1200px
            margin-inline: auto
            padding-inline: 1rem

            h1
                text-align: center
                font-family: 'Roboto'
                font-size: 3rem
                color: $txt-bleu

            p
                text-align: center
                margin-top: 2rem
                color: $txt-bleu
                font-family: 'Roboto'

.module2
    // background-color: $bg-bleu-fonce

    padding: 7rem 0 3rem 0

    &__container
        width: 100%
        max-width: 1200px
        margin-inline: auto
        padding-inline: 1rem

        &_contenue
            display: grid
            grid-template-columns: repeat(3,1fr)
            gap: 3rem
            margin-bottom: 5rem

            &_carte
                // border: 1px red solid
                // height: 20rem

                &_img
                    img
                        border-radius: 40px

                &_textes
                    // margin-top: 2rem
                    padding: 2rem 1rem 1rem
                    h1
                        font-size: 1.4rem
                        font-family: 'Roboto'
                        color: $txt-bleu

                    &_bouton
                        margin-top: 2rem
                        a
                            border: 2px $bg-bleu solid
                            border-radius: 5px
                            background-color: $bg-blanc
                            color: $txt-bleu
                            text-decoration: none
                            padding: 1rem 2rem
                        a:hover
                            background-color: $bg-bleu
                            color: $txt-blanc
