.pole1

    &__banniere
        height: 15rem
        background-color: $bg-bleu
        padding: 3rem 0 0 0

        &_container
            width: 100%
            max-width: 1200px
            margin-inline: auto
            padding-inline: 1rem

                // padding: 2.5rem 0
            &_titre

                color: $txt-blanc
                text-align: center
                font-weight: 500
                font-size: 2.5rem
                font-family: 'Roboto'

            &_box
                margin-top: 3rem

                display: flex
                justify-content: space-between
                // border: 1px #ff0000 solid
                align-items: center

                &_duree
                    display: flex
                    // border: 1px #000000 solid

                    width: min-content
                    justify-content: space-between
                    align-items: center

                    &_icones1
                        display: flex
                        align-items: center
                        margin-right: 3rem

                        svg
                            width: 4rem
                            fill: $bg-blanc
                            margin-right: 0.5rem

                        p
                            color: $txt-blanc
                            // margin-left: 3rem
                            width: 100%
                            font-family: 'Roboto'
                            margin-top: 1rem

                    &_icones2
                        display: flex
                        align-items: center
                        // margin-right: 3rem

                        svg
                            width: 4rem
                            fill: $bg-blanc
                            margin-right: 0.5rem

                        p
                            color: $txt-blanc
                                // margin-left: 3rem
                            width: 100%
                            font-family: 'Roboto'
                            margin-top: 1rem

                &_boutton
                    display: flex
                    justify-content: center

                    a
                        text-decoration: none
                        color: $txt-bleu
                        background-color: $bg-blanc
                        font-family: 'Roboto'
                        font-size: 1rem
                        // border-radius: 5px
                        border: 1px $bg-blanc solid
                        padding: 1rem 2rem

                    a:hover
                        background-color: $bg-bleu
                        color: $txt-blanc

.pole2

    &__article1
        margin-top: 5rem

        &_container
            width: 100%
            max-width: 1200px
            margin-inline: auto
            padding-inline: 1rem

            display: grid
            grid-template-columns: repeat(2,1fr)
            // gap: 0rem
            &_textes
                padding: 2rem 0
                // border: 1px red solid

                h1
                    font-family: 'Roboto'
                    color: $txt-bleu
                    font-weight: 500
                    font-size: 2.5rem
                    // margin-bottom: 2rem
                    text-align: center

                p
                    font-family: 'Roboto'
                    color: $txt-bleu
                    font-size: 1rem
                    font-weight: 400
                    text-align: center
            &_img
                img
                    border-radius: 25px

    &__article2
        margin-top: 5rem
        margin-bottom: 5rem
        // background-color: $bg-vert

        &_container
            width: 100%
            max-width: 1200px
            margin-inline: auto
            padding-inline: 1rem

            &_icones
                display: grid
                grid-template-columns: repeat(3,1fr)
                // border: red solid 1px
                gap: 3rem
                margin-bottom: 5rem

                &_carte
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px
                    border-radius: 25px
                    padding: 4rem 1rem 1rem 1rem
                    height: 30rem


                    &_img
                        display: flex
                        justify-content: center

                        &_svg1
                            width: 7rem
                            fill: #ffd43b
                        &_svg2
                            width: 7rem
                            fill: $bg-vert
                        &_svg3
                            width: 7rem
                            fill: #74c0fc

                    &_textes

                        h1
                            text-align: center
                            margin-top: 1rem
                            font-size: 1.9rem
                            font-family: 'Roboto'
                            color: $txt-bleu
                        p
                            text-align: center
                            font-family: 'Roboto'
                            font-weight: 400
    &__article3
        // margin-top: 5rem
        margin-bottom: 5rem
        background-color: $bg-vert

        &_container
            width: 100%
            max-width: 1200px
            margin-inline: auto
            padding-inline: 1rem

            &_textes
                padding: 2.5rem 0

                h1
                    font-family: 'Roboto'
                    color: $txt-blanc
                    font-weight: 500
                    font-size: 2.5rem
                    text-align: center

                p
                    font-family: 'Roboto'
                    color: $txt-blanc
                    font-size: 1rem
                    font-weight: 300

    &__article4
        margin-bottom: 5rem

        &_container
            width: 100%
            max-width: 1200px
            margin-inline: auto
            padding-inline: 1rem

            display: grid
            grid-template-columns: repeat(2,1fr)
            // gap: 0rem
            &_img
                img
                    border-radius: 25px

            &_textes
                padding: 2rem 0
                // border: 1px red solid

                h1
                    font-family: 'Roboto'
                    color: $txt-bleu
                    font-weight: 500
                    font-size: 2.5rem
                    // margin-bottom: 2rem
                    text-align: center

                p
                    font-family: 'Roboto'
                    color: $txt-bleu
                    font-size: 1rem
                    font-weight: 400
                    text-align: center
    &__article5
        margin-top: 5rem
        // margin-bottom: 5rem
        // background-color: $bg-bleu

        &_container
            width: 100%
            max-width: 1200px
            margin-inline: auto
            padding-inline: 1rem
            background-color: $bg-bleu
            border-radius: 25px

            &_textes
                padding: 2.5rem 0

                h1
                    font-family: 'Roboto'
                    color: $txt-blanc
                    font-weight: 500
                    font-size: 2.5rem
                    text-align: center

                p
                    font-family: 'Roboto'
                    color: $txt-blanc
                    font-size: 1rem
                    font-weight: 300

.pole3

    &__container
        width: 100%
        max-width: 1200px
        margin-inline: auto
        padding-inline: 1rem

        &_titre
            text-align: center
            font-size: 2.5rem
            font-family: 'Roboto'
            color: $txt-bleu
            font-weight: 500
            margin-top: 4rem

        &_temoignage
            display: grid
            grid-template-columns: repeat(3,1fr)
            gap: 2rem
            margin-top: 4rem
            margin-bottom: 4rem

            &_carte
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px
                border-radius: 25px
                // padding: 1rem

                &_avis
                    p
                        font-family: 'Roboto'
                        font-size: 1rem
                        color: $txt-bleu

                &_nom
                    background-color: $bg-vert
                    width: 100%
                    height: 3rem
                    padding: 0.5rem 0 0 0
                    border-bottom-left-radius: 25px
                    border-bottom-right-radius: 25px

                    h1
                        text-align: center
                        font-family: 'Roboto'
                        font-size: 1.5rem
                        color: $txt-blanc
                        font-weight: 300
.pole4

    &__container
        width: 100%
        max-width: 1200px
        margin-inline: auto
        padding-inline: 1rem

        &_titre
            text-align: center
            font-size: 2.5rem
            font-family: 'Roboto'
            color: $txt-bleu
            font-weight: 500
            margin-top: 4rem

        &_4poles

            margin-top: 4rem
            margin-bottom: 4rem
            display: grid
            grid-template-columns: repeat(4,1fr)
                    // border: red solid 1px
            gap: 1rem
            height: 35rem

            &_pole

                &_overlay
                    background-color: rgba(14, 13, 13, 58%)
                    height: 35rem
                    display: flex
                    justify-content: center
                    flex-direction: column
                    justify-content: space-around

                    &_textes
                        display: flex
                        justify-content: center
                        padding: 3rem
                        h1
                            color: $txt-blanc
                            font-family: 'Roboto'
                            font-family: 700

                            font-size: 1.2rem

                    &_boutton
                        // border: blue solid 3px

                        text-align: center

                        a
                            text-decoration: none
                            color: $txt-blanc
                            border: 2.5px #fff solid
                            width: 8.5rem
                            padding: 1.4rem 2.3rem
                            font-family: 'Roboto'
                        a:hover
                            color: $txt-blanc
                            // border: 2.5px $txt-rouge solid
                            background-color: $bg-bleu
