
.nav-header
    height: 100vh

    &__overlay
        background-color: rgba(2, 2, 2, 70%)
        height: 100vh
        padding: 5rem 0 0 0

        &_container
            width: 100%
            max-width: 1200px
            margin-inline: auto
            padding-inline: 1rem

            &_box-logo
                display: flex
                justify-content: space-between
                align-items: center

                &_logo
                    width: 5rem

                &_menus

                    display: flex
                    justify-content: center
                    ul
                        display: flex

                        li
                            margin-right: 2rem
                            a
                                font-family: 'Roboto'
                                // font-weight: 300
                                text-decoration: none
                                font-size: 1.1rem
                                color: $txt-blanc

                        .current_page_item a
                            color: green

            &_textes
                margin-top: 15rem

                h1
                    font-size: 4rem
                    font-family: 'Roboto'
                    // font-weight: 500
                    color: $txt-blanc
                p
                    font-size: 1.5rem
                    font-family: 'Roboto'
                    // font-weight: 300
                    color: $txt-blanc

                &_bouton
                    margin-top: 4.5rem
                    a
                        border: 1px $bg-blanc solid
                        padding: 1rem 2rem
                        text-decoration: none
                        color: $txt-blanc
                        font-family: 'Roboto'
                    a:hover
                        background-color: $bg-bleu
                        color: $txt-blanc
