.equipe1

    &__banniere
        height: 25rem

        &_overlay
            background-color: rgba(0,0 ,0 , 70%)
            height: 25rem

            h1
                color: $txt-blanc
                text-align: center
                font-family: 'Rosarivo italic'
                padding-top: 10rem
                

    &__presentation

        &_container
            width: 100%
            max-width: 1200px
            margin-inline: auto
            padding-inline: 1rem

            &_textes

              
                margin-top:3rem

                h1
                    color: $txt-bleu
                    text-align: center
                    font-family: 'Rosarivo italic'
                 

                p
                    color: $txt-bleu
                    font: 'Roboto'
                    text-align: center
             
.equipe2

    &__container
        width: 100%
        max-width: 1200px
        margin-inline: auto
        padding-inline: 1rem

        &_article1
            display: grid
            grid-template-columns: repeat(2,1fr)
            margin-bottom: 4rem
            

            &_img

                img
                    border-top-left-radius: 45px
                    border-bottom-left-radius: 45px
                    height: 100%

            &_textes
                padding: 2rem 1rem 1.5rem 2rem
                background-color: $bg-vert

                h1
                    color: $txt-blanc
                    font-family: 'Rosarivo italic'
                    text-align: center
                    font-size: 2.5rem

                p
                    color:$txt-blanc 

                &_bouton
                    display: flex
                    justify-content: center

                    a
                        text-decoration: none
                        color: $txt-blanc
                        border: 1px $bg-blanc solid 
                        padding: 1rem 2rem

                    a:hover
                        background-color: $bg-blanc
                        color: $txt-vert
                     


        &_article2
            display: grid
            grid-template-columns: repeat(2,1fr)
            margin-bottom: 5rem
            

            &_img

                img
                    border-radius: 45px
       

            &_textes
                padding: 2rem 1rem 0 2rem
     

                h1
                    color: $txt-bleu
                    font-family: 'Rosarivo italic'
                    text-align: center
                    font-size: 2.5rem

                p
                    color:$txt-bleu 

        &_article3
            display: grid
            grid-template-columns: repeat(2,1fr)
            margin-bottom: 5rem

            &_img

                img
                    border-top-left-radius: 45px
                    border-bottom-left-radius: 45px     
                    height: 100%               
 

            &_textes
                padding: 2rem 1rem 1.5rem 2rem
                background-color: $bg-bleu

                h1
                    color: $txt-blanc
                    font-family: 'Rosarivo italic'
                    text-align: center
                    font-size: 2.5rem

                p
                    color:$txt-blanc             


           
